html {
  font-size: 5.6vw;
  /* font-family: "Open Sans", sans-serif; */
  background-color: #b8e2f4; /* set background color, currently light blue */
}

/* Formatting text */
h1,
h2,
h3 {
  text-align: center;
  color: black;
}

h1 {
  font-size: 1.0714rem;
}

h2 {
  font-size: 1.0536rem;
  margin: 0.5rem;
}
/* 2.8=0.5, 6=1.0714, 5.9=1.0536, 5.8=1.0357, 1.4=.25, .7=.125, .56=.1*/
h3 {
  font-size: 1.0357rem;
  margin: .25rem;
}

p {
  /* font-size: 16px; */
  line-height: 2;
  letter-spacing: 0rem;
  display: flex;
  justify-content: center;
  white-space: pre-line;
  text-align: center;
}

/* Set attributes that contains the content */

body {
  /*width: 600px;*/
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 0.5rem 0.5rem 0.5rem; /* Top, right, bottom, left (aka NESW) */
  border: .125rem solid black; 
}

input {
  border: 0.1rem solid black;
  font-size: 1rem;
  margin: .01rem 0 .01rem 0;
}

label {
  padding-right: 0.5rem;
}

/* Only applies to the unit labels */
label.unitlab {
  padding-left: .25rem;
}

/* Centers TFL Rate, Weight, etc column */
.mainrow {
  display: table;
  margin: 0 auto;
  text-align: center;
}

/* Splits Cont. Infusions section into two columns */
div.infusioncol,
div.ratecol {
  display: grid;
  width: 50%;
  text-align: center;
}

div.infusioncol {
  float: left;
}

div.sidecol {
  display: table;
  margin: 0 auto;
}

.datainput {
  width: 10%;
  text-align: right;
}

.rate {
  width: 40%;
  text-align: right;
}

.note {
  width: 60%;
}

p#output {
  margin: 0;
}
/* Centers 'Calculate' button */

div.formbutton {
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
}

input.submitbutton {
  font-size: 1.25rem;
}