html {
  font-size: 20px; /* px means "pixels": the base font size is now 16 pixels high */
  /* font-family: "Open Sans", sans-serif; */
  /* set background color, currently light blue */
  background-color: #b8e2f4;
}

/* Formatting text */
h1,
h2,
h3 {
  text-align: center;
  color: black;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

p {
  /* font-size: 16px; */
  line-height: 2;
  letter-spacing: 0px;
}

p#output {
  display: flex;
  justify-content: center;

}

/* Set attributes that contains the content */

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

input {
  border: 2px solid black;
}

label {
  padding-right: 10px;
}


div.mainrow {
  display: table;
  margin: 0 auto;
}

div.infusioncol,
div.ratecol {
  display: grid;
  width: 50%;

}

div.infusioncol {
  float: left;
}

div.sidecol {
  display: table;
  margin: 0 auto;
}

div.formbutton {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/*
div.mainrow {
  display: flex;
}

form.formlabels,
form.forminputs,
form.formnotes {
  display: grid;
}

div.formlabels {
  width: 40%;
  float: left;
}

div.forminputs {
  width: 30%;
}

div.formnotes {
  width: 30%;
}

input.hidenote {
  visibility: collapse;
}

div.formbutton {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
*/
